/*
  Color Palette:
  black: #353335
  light grey: #A5A39B
  light green: #9FA586
  brown: #957243
  pink: #FA8B7E
https://coolors.co/9fa586-fa8b7e-957243-a5a39b-353335 
*/

html, body {
    height: 100%;
    margin: auto;
}

body {
    font-family: 'PT Sans', sans-serif;
    color: #353335;
    background: #EDECED;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page {
    height: 100%;
    margin: auto;
    max-width: 1000px;
    font-size: 1em;
}

#content {
    /* Everything within #content uses flexbox layout. Note min-height and column direction. */
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #EDECED;
}

main {
    flex-grow: 1;
}


/* Header and logo styles */
header {
    background: #353335;
    min-width: 100%;
    line-height: 1.1rem;
    display: flex;
    flex-direction: row;
    padding: 5px 0 8px 0;
    
}

.logo {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-filter: brightness(120%) grayscale(100%) contrast(90%); /* Safari 6.0 - 9.0 */
    filter: brightness(1000%) grayscale(100%) contrast(100%);
    opacity: 0.9;
}

.logo:hover{
    -webkit-filter: brightness(120%) contrast(90%); /* Safari 6.0 - 9.0 */
    filter: brightness(120%) contrast(90%);
  }

nav {
    flex-grow: 15;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
nav li {
    display: flex;
    padding: 2vw;
    font-size: 2.5vw;
}
nav a {
    text-decoration: none;
    color: #A5A39B;
}
nav a:hover {
    color: #FA8B7E;
}
/* With width of page at 750px, 2.5vw ~ 18px */
@media screen and (min-width: 750px) {
    nav li {
       font-size: 18px;
       /* color:  */
    }
  }

.media { 
    min-width: 0;
 }

.logo img {
    width: 25vw;
    max-width: 200px; 
}
/* With width of page at 1000px, 25vw = 250px */
@media screen and (min-width: 1000px) {
    .logo img {
       max-width: 250px;
    }
  }

/* With width of page at 1000px, 2vw = 20px */
@media screen and (min-width: 1000px) {
    .logo h1 {
       font-size: 20px;
       line-height: ;
    }
  }

.logo h1 {
    font-family: 'PT serif', serif;
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: .2vw;
    text-transform: uppercase;
    color: #EDECED;
}
  .logo span {
    line-height: 80%;
    margin-top: -5px;
    color: #EDECED;
    font-family: 'PT serif', serif;
    display: block;
    font-size: 2vw;
    font-weight: 500;
  
    text-transform: capitalize;
  }

/* Title styles */
#title {
    font-family: 'PT serif', serif;
    font-weight: bold;
    font-size: 4.5vw;
    padding: 0.8vw 0 0.8vw 0;
    color: #232223;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.32vw;
}
/* With width of page at 1000px, 6vw = 60px */
@media screen and (min-width: 1000px) {
    #title {
       font-size: 60px;
       padding: 8px 0 8px 0;
    }
  }

/* ---------------------------------------------------------------------- */
/* Table styles */

#table-flex-wrap {
    display: flex;
    justify-content: center;
}
#table-area {
    background: #EDECED;
    color: #353335;
    padding: 5px 1%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}

table {
    font-size: 1.47vw;
  }
@media screen and (min-width: 1000px) { 
    table {
        font-size: 14.7px;
    }
}

td, th {
    padding: 0.7vh 0.5vw 0.7vh 0.3vh;
    text-align: left;
    border-right: 1px solid #353335;
}

table tr {
    border: 1px solid #353335;
    border-left: none;
    border-right: none;
}

/* Top row */
table tr:nth-child(1) {
    background: #9FA586;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    vertical-align: middle;
    white-space: nowrap;
    border-top: none;
  }

  /* Zebra stripes */
tr:nth-child(odd) {
    background: #D6D5D1;
}
tr:nth-child(even) {
    background: #fff;
}
 
/* houly totals */
  table tr:last-child {
    background: #FA8B7E;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    border-bottom: none;
  }
  tr td:nth-child(1) {
    background: #FA8B7E;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    white-space: nowrap;
    border-right: 2px solid #353335;
  }

 td:last-child, th:last-child {
    border-right: none;
  }

  tr:last-child td:last-child{
    background: #9FA586;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border: 2px solid #353335;
    white-space: normal;
  }

/* ---------------------------------------------------------------------- */
/* Form styles */
form {
	/* width: 500px; */
	padding: 15px;
	background: #FFFFFF;
	margin: 15px auto;
    /* border: 3px dashed fuchsia; */
    font-family: 'PT Sans', sans-serif;


}
form legend{
    /* background: #4D4D4D; */
    font-family: 'PT Serif', serif;
    font-size: 2.5vw;
	text-transform: uppercase;
    color: #353335;
	border-bottom: 1px solid #353335;
    font-weight: 700;
	margin: 20px auto;
}
form input[type="text"],
form input[type="number"],
form input[type="search"],
form select 
{
	box-sizing: border-box;
	/* outline: none; */
	display: block;
	width: 100%;
	/* padding: 7px; */
	border: none;
	border-bottom: 1px solid #ddd;
	/* background: transparent; */
	/* margin-bottom: 10px; */
    /* height: 45px; */
    font-size: 2vw;
}
form textarea{
	resize: none;
	overflow: hidden;
}
input[type="button"], 
input[type="submit"]{
	/* box-shadow: inset 0px 1px 0px 0px #45D6D6; */
	background-color: #2CBBBB;
	/* border: 1px solid #27A0A0; */
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
    font-size: 2vw;
	padding: 10px 15px;
	/* text-decoration: none; */
    text-transform: uppercase;
    margin: 0px auto;
    display: block;
}
input[type="button"]:hover, 
input[type="submit"]:hover {
	/* background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%); */
    background-color:#34CACA;
    
}

#clear-table {
    margin: 10px auto;
    display: block;
}