html, body {
    /* font-family: Open Sans; */
    font-size: 1em;
    line-height: 28px;
  }
  
  h1 {
    letter-spacing: -15px;
    /* font-family: Open Sans; */
    color: white;
    text-align: center;
    font-size: 175px;
    /* font-weight: 800; */
    line-height: 200px;
  }
  
  .MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .ContentContainer {
    position: relative;
    display: block;
    background-color: white;
    z-index: 1;
  }
  
  .Content {
    max-width: 750px;
    margin: 0 auto;
    padding: 75px 0;
  }
  
  p {
    margin: 75px 0;
  }
  
  .ParallaxContainer {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100vh;
    justify-content: center;
    align-items: center;

    /* translateZ pushes div into the background, which makes it look half its size 
    scale compensates for this, doubling it size, but the scroll effect is as if it were in the background*/
    transform: translateZ(-6px) scale(7);
    background: url(https://upload.wikimedia.org/wikipedia/commons/2/2c/Chum_salmon_leaping_%286088542755%29.jpg);
    background-color: rgb(250,228, 216);
    background-repeat:no-repeat;
    background-position: center center;
  }

